.index-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

div.box {
    background-color: rgb(84, 138, 155);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(124, 196, 240);
}

button {
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    width: 160px;
}

button:hover {
    background-color: #b21414;
    box-shadow: 0 0 10px rgba(124, 196, 240, 0.767);
}

h2.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0px 15px;
}

div.center {
    display: flex;
    justify-content: center;
    align-items: center;
}