<html lang="en-US">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta name="description" content="CS 361 Final Project">
        <meta name="author" content="Cody Renfro">
        <link rel="stylesheet" href="../static/css/read-update-delete.css" type="text/css">
        <link rel="stylesheet" href="../static/css/nav-bar.css" type="text/css">
        <link rel="stylesheet" href="../static/css/table.css" type="text/css">
    </head>
    <body>
        <h2 class="nav">Gas Finding App</h2>
        <ul>
            <li>DETAILS</a></li>
            <div>
                <button onclick="window.location.href = 'index';">Back</button>
            </div>
        </ul>
        <div class="container">
            <div class='box'>
                <h2 class='center'>Gas Details</h2>
                <table>
                    <th>
                        <tr>
                        </tr>
                    </th>
                </table>