<html lang="en-US">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta name="description" content="Project Step 3 Draft (HTML Interface, DML, & Revisions to Existing Deliverables).">
        <meta name="author" content="Cody Renfro">
        <title>Project Step 3 Draft</title>
        <link rel="stylesheet" href="../static/css/read-update-delete.css" type="text/css">
        <link rel="stylesheet" href="../static/css/nav-bar.css" type="text/css">
        <link rel="stylesheet" href="../static/css/table.css" type="text/css">
    </head>
    <body>
        <h2 class="nav">Navigation</h2>
        <ul>
            <li><a href="index">HOME</a></li>
            <li>Employee Certification Records</li>
        </ul>
        <div class="container">
            <div class='box'>
                <h2 class='center'>Employee Certification Records</h2>
                <table>
                    {% if read %}
                        <thead>
                            <tr>
                                {% for key in read[0].keys() %}
                                    <th scope="col" data-field="{{key}}" data-filter-control="input">{{key}}</th>
                                {% endfor %}

                            <tr>
                        <tbody>
                            {% for item in read %}
                                <tr>
                                    {% for key in item.keys() %}
                                
                                        <td> {{item[key]}} </td> 
                                    {% endfor %}                                    
                                </tr> 
                            {% endfor %} 
                    {% endif %} 
                </table>
                <hr></hr>
                <form action="/employee_certification" method="POST">
                <h2 class='center'>Add Certification to Employee</h2>
                <h4 class='center'>Select Employee</h4>
                    <select class='center' name="employee">
                        <option disabled selected value> -- Select Employee -- </option>
                        {% for info in employee_name %}
                                    {% if info['Employee_Name'] == employee_name[0].info %}
                                        <option value="{{ info['employee_id'] }}" selected> {{info['Employee_Name']}}</option>
                                    {% else %}
                                        <option value="{{ info['employee_id'] }}"> {{info['Employee_Name']}}</option> 
                                    {% endif %}
                        {% endfor %} 
                    </select>
                    <h4 class='center'>Select Certification</h4>
                    <select class='center' name='cert'>
                        <option disabled selected value> -- Select Certification -- </option>
                        {% for info in cert_name %}
                                    {% if info['Certification_Name'] == cert_name[0].info %}
                                        <option value="{{ info['cert_id'] }}" selected> {{info['Certification_Name']}}</option>
                                    {% else %}
                                        <option value="{{ info['cert_id'] }}"> {{info['Certification_Name']}}</option> 
                                    {% endif %}
                        {% endfor %} 
                    </select>
                    <div class='center'>
                        <button class = "green-highlight" type="submit" value="Create" name="Create">ADD</button>
                    </div>    
            </form>
            <hr></hr>

            
            
            <form action="/employee_certification" method="POST">
                <h2 class='center'>Update Employee Certification Records</h2>
                <h4 class='center'>Select Employee</h4>
                
                
                
                <select class='center' name="employee">
                    <option disabled selected value> -- Select Employee -- </option>
                    {% for info in read %}
                                {% if info['Employee'] == read[0].info %}
                                    <option value="{{ info['Employee'] }}" selected> {{info['Employee']}}</option>
                                {% else %}
                                    <option value="{{ info['Employee'] }}"> {{info['Employee']}}</option> 
                                {% endif %}
                    {% endfor %} 
                </select>
                
                <section>
                    <h4 class='center'> Select Certification</h4>
                    <div class='center'>
                        <select class='center' name='cert'>
                            <option disabled selected value> -- Select Certification -- </option>
                            {% for info in cert_name %}
                                        {% if info['Certification_Name'] == cert_name[0].info %}
                                            <option value="{{ info['cert_id'] }}" selected> {{info['Certification_Name']}}</option>
                                        {% else %}
                                            <option value="{{ info['cert_id'] }}"> {{info['Certification_Name']}}</option>
                                        {% endif %}
                            {% endfor %} 
                        </select>
                    </div>
                </section>
                <div class='center'>
                    <button class = "green-highlight" type="submit" value="Update" name="Update">UPDATE</button>
                </div>
            </form>
            <hr></hr>
            
            
            
            
            <form action = "/employee_certification" method = "POST">
                <h2 class='center'>Delete Employee Certification Records</h2>
                <h4 class='center'>Select Employee</h4>
                <div class='center'>
                    <select class='center' name="employee">
                        <option disabled selected value> -- Select Employee -- </option>
                        {% for info in read %}
                                {% if info['Employee'] == read[0].info %}
                                    <option value="{{ info['Employee'] }}" selected> {{info['Employee']}}</option>
                                {% else %}
                                    <option value="{{ info['Employee'] }}"> {{info['Employee']}}</option> 
                                {% endif %}
                    {% endfor %} 
                    </select>
                </div>
                <div class='center'>
                    <button class = "red-highlight" type="submit" value="Delete" name="Delete">DELETE</button>
                </div>
            </form>
            </div>
        </div>
    </body>
</html>