<html>
    <head>
        <title>Where To Find The Cheapest Gas</title>
        <link rel="stylesheet" href="static\css\style.css">
        <link rel="icon" type="image/png" href="http://127.0.0.1:12345/static/images/favicon.png">
    </head>
    <body>
        <div class="banner">
            <div class="navbar">
                <img src="http://127.0.0.1:12345/static/images/favicon.png" class="logo">
                <h1>Gas Finding App</h1>
            </div>
            <div class="content">
                <form name = "cityName" action="/details" method="POST">
                    <h2 class='title'>Welcome To the Gas Finding App</h2>
                    <hr></hr>
                    <h3>
                        Please select a city from the drop down menu below. Then press the search
                    </h3>
                    <h3>
                        button to see all details for the cheapest regular gas in that city.
                    </h3>
                    <hr></hr>
                    <select name = cityName>
                        <option value = "null">Select A City</option>
                        <option value = "albany">Albany</option>
                        <option value = "bend">Bend</option>
                        <option value = "dallas">Dallas</option>
                        <option value = "eugene">Eugene</option>
                        <option value = "independence">Independence</option>
                        <option value = "keizer">Keizer</option>
                        <option value = "molalla">Molalla</option>
                        <option value = "monmouth">Monmouth</option>
                        <option value = "salem">Salem</option>
                        <option value = "tualatin">Tualatin</option>
                    </select>
                    <button class="submit" type="submit" value="Create" name="Create">Search</button>
                </form>
            </div>
        </div>
    </body>
</html>