<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta name="description" content="CS 361 Final Project.">
        <meta name="author" content="Cody Renfro">
        <link rel="stylesheet" href="../static/css/index.css" type="text/css"/>
        <link rel="stylesheet" href="../static/css/nav-bar.css" type="text/css"/>
    </head>
    <body>
        <h2 class="nav">Gas Finding App</h2>
        <ul>
            <li>HOME</li>
        </ul>
        <div class="index-container">
            <div class='box'>
                <h2 class='title'>Welcome To the Gas Finding App</h2>
                <select class='center'>
                    <option disabled selected value> Select A City </option>
                    {% for info in city_name %}
                                {% if info['City_Name'] == city_name[0].info %}
                                    <option value="{{ info['city_id'] }}" selected> {{info['city_name']}}</option>
                                {% else %}
                                    <option value="{{ info['city_id'] }}"> {{info['city_name']}}</option> 
                                {% endif %}
                    {% endfor %} 
                </select>
                <div class='center'>
                    <button onclick="window.location.href = 'details';">Search</button>
                </div>
            </div>
        </div>
    </body>
</html>