<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta name="description" content="Project Step 3 Draft (HTML Interface, DML, & Revisions to Existing Deliverables).">
        <meta name="author" content="Cody Renfro">
        <title>Project Step 3 Draft</title>
        <link rel="stylesheet" href="../static/css/index.css" type="text/css"/>
        <link rel="stylesheet" href="../static/css/nav-bar.css" type="text/css"/>
    </head>
    <body>
        <h2 class="nav">Navigation</h2>
        <ul>
            <li>HOME</li>
        </ul>
        <div class="index-container">
            <div class='box'>
                <h2 class='title'>Home Directory</h2>
                <div class='center'>
                    <button onclick="window.location.href = 'employee';">Employee</button>
                    <button onclick="window.location.href = 'job_title';">Job Title</button>
                    <button onclick="window.location.href = 'certification';">Certification</button>
                    <button onclick="window.location.href = 'employee_certification';">Employee Certification</button>
                </div>
                <div class='center'>
                    <button onclick="window.location.href = 'shift';">Shift</button>
                    <button onclick="window.location.href = 'shift_days';">Shift Days</button>
                    <button onclick="window.location.href = 'shift_names';">Shift Name</button>
                </div>
            </div>
        </div>
    </body>
</html>