<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta name="description" content="Project Step 3 Draft (HTML Interface, DML, & Revisions to Existing Deliverables).">
        <meta name="author" content="Cody Renfro">
        <title>Project Step 3 Draft</title>
        <link rel="stylesheet" href="../static/css/read-update-delete.css" type="text/css">
        <link rel="stylesheet" href="../static/css/nav-bar.css" type="text/css">
        <link rel="stylesheet" href="../static/css/table.css" type="text/css">
    </head>
    <body>
        <h2 class="nav">Navigation</h2>
        <ul>
            <li><a href="index">HOME</a></li>
            <li>Shift Days Names Records</li>
        </ul>
        <div class="container">
            <div class='box'>
                <h2 class='center'>Shift Days Names Records</h2>
                <table>
                    {% if shift_days_names_table %}
                        <thead>
                            <tr>
                                {% for col_title in shift_days_names_table[0].keys() %}
                                <th scope="col" data-field="{{col_title}}" data-filter-control="input">{{col_title}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in shift_days_names_table %}
                                <tr>
                                    {% for entry in data.keys() %}
                                        <td>{{data[entry]}}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% endif %}
                </table>
                <hr></hr>
                <form action="/shift_days" method="POST">
                    <h2 class='center'>New Shift Days Names Entry</h2>
                    <h4 class='center'>Shift Days Names</h4>
                    <div class='center'>
                        <input  type='text' name="shift_days_names" placeholder='Shift Days Names'></input>
                    </div>
                    <div class='center'>
                        <button class='green-highlight' type='submit' value="Create" name="Create">ADD</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>